body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #6429cd;
    color: #fff;
    padding: 5px;
    text-align: center;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #6429cd;
    color: #fff;
    padding: 1px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

a {
    color: #6429cd;
    text-decoration: none;
    font-weight: bold;

}

a:hover {
    color: rgb(170, 170, 170);

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    width: 80%;
    max-width: 1280px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-left: 5px solid #6429cd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

h2,
h3,
h4,
h5 {
    color: #6429cd;
    padding-left: 10px;
}

ul li h5 {
    font-size: 16px;
}

p {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.sub-seccion {
    margin-bottom: 15px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.sub-seccion p {
    font-size: 18px;
}

/* Estilos para la tabla */
.table-container {
    width: 70%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #6429cd;
    color: #fff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

span {
    background-color: #6429cd88;
    font-family: monospace;
    padding: 3px 6px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}

span a:hover{
    color: #fff;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #6429cd;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
    transition: opacity 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
    background: #6429cd;
    transform: scale(1.1);
    transition: ease-in-out;
}